[init]
	defaultBranch = main
[user]
	name = Nathachai
	email = exzenous@outlook.com
[includeIf "gitdir:~/Developer/"]
	path = ~/.gitconfig.work
[core]
	excludesfiles = ~/.gitignore.global
[alias]
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t"
